a{
    text-decoration: none;
}
:host{
    height: 100%;
}
.active_route .opt{
    color: rgba(29,161,242,1.00);
}
.fa-ellipsis-h{
    border-radius: 50%;
    border: 2px solid;
    padding: 2px 3px;
    font-size: 16px;
    margin-right: 20px;
}
i.fa.fa-bell.icon,
i.fa.fa-bookmark.icon,
i.fa.fa-envelope.icon {
    margin-right: 11px;
}
i.fa.fa-bookmark-o.icon,
i.fa.fa-bookmark.icon {
    font-size: 28px;
    vertical-align: middle;
}
i.fa.fa-hashtag.icon {
    padding-right: 23px;
}
.fa-bell-o.icon,
.fa-envelope-o.icon,
i.fa.fa-bookmark-o.icon,
i.fa.fa-user-o.icon {
    padding-right: 23px;
}
i.fa.fa-user.icon {
    padding-right: 26.5px;
}
i.fa.fa-list-alt.icon {
    padding-right: 23px;
}
i.fa.fa-user.icon,
.fa-user-o {
    font-size: 24px;
}
.twitter-logo {
    margin-bottom: 5px;
}
.home-icon {
    height: 1.75rem;
    vertical-align: text-bottom;
    fill: currentcolor;
    padding-right: 18px;
}
i.fa.fa-bookmark-o.icon {
    vertical-align: middle;
}
.options{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-left: 42px;
    margin-top: 4px;
}
.option{
    padding: 12px;
    cursor: pointer;
}
.list-opt {
    padding-top: 8px;
}
.profile-opt{
    padding-top: 10px;
}
.opt{
    padding: 12px;
}
.icon{
    padding-right: 12px;
}
.option:hover .opt{
    color: rgba(29,161,242,1.00);
    border-radius: 26px;
    background-color: rgba(29,161,242,0.1);
}
.profile-pic{
    background: transparent;
    border-radius: 0;
    border: 0;
}
.profile-pic:hover img {
	opacity: 1;
}
.logo{
    font-size: 31px;
    cursor: pointer;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: 13px;
}
.logo:hover{
    padding: 7px 10px;
    background-color: rgba(29,161,242,0.1);
    border-radius: 50%;
}
.tweet-btn{
    padding: 15px 92px;
    border: 1px solid;
    border-radius: 26px;
    font-size: 15px;
    color: white;
    background-color: rgba(29,161,242,1.00);
    cursor: pointer;
    transition: background-color 0.3s;
    transition-timing-function: ease-in-out;
}
.tweet-btn:hover{
    background-color: rgba(26,145,218);
    /* background-color: blue; */
}
.tweet {
    padding: 15px 0 15px 12px;
}
.profile-section {
    padding: 15px 15px 15px 15px;
    width: 210px;
    margin-top: 40px;
}
.profile{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}
.display:hover{
    background-color: rgba(29,161,242,0.1);
    border-radius: 32px;
}
img{
    width: 40px;
}
.profile-pic{
    width: 19%;
}
.info {
    width: 70%;
    overflow: hidden;
}
.name{
    font-size: 14px;
    padding-left: 14px;
}
.id{
    font-size: 15px;
    font-weight: 400;
    color: rgb(91, 112, 131);
    padding-left: 12px;
}
.bars {
    font-size: 4px;
    padding: 10px 0 0;
    width: 9.5%;
}
.fa-circle {
    padding-right: 2px;
}
ul,li{
    list-style: none;
}
li {
    padding: 10px 0;
}
li>i{
    padding: 16px;
}
.list{
    font-size: 15px;
    font-weight: 400;
    width: 210px;
    box-shadow:0px 0px 9px 0 grey;
    /* display: none; */
}
.more:hover .list{
    display: block;
}
.profile-section{
    position: relative;
}
.profile-card{
    box-shadow:0px 0px 9px 0 grey;
    border-radius: 10px;
    width: 250px;
    z-index: 100;
    background-color: white;
    position: absolute;
    top: -190px;
    right: 0;
}
.profile-info .profile{
    margin-top: 7px;
    padding: 12px;
}
.profile-info .profile .info{
    width: 60%;
}
.add-account,
.logout{
    font-size: 15px;
    font-weight: 400;
    padding: 16px;
}
.add-account {
    border: 1px solid #80808036;
    border-left: 0;
    border-right: 0;
}
.create-tweet{
    display: none;
    width: 46px;
}
@media(max-width:1281px){
    .hide-name{
        display: none;
    }
    .create-tweet{
        display: block;
    }
    .options{
        float: right;
        margin:0 12px;
        max-width: 64px;
    }
    ::ng-deep .ng-sidebar{
        max-width: 142px;
    }
    .icon,
    i.fa.fa-hashtag.icon,
    .fa-home.icon,
    i.fa.fa-bookmark-o.icon,
    i.fa.fa-list-alt.icon,
    i.fa.fa-user-o.icon,
    .fa-bell-o.icon,
    .fa-envelope-o.icon{
        padding-right: 0;
        font-size: 25px;
    }
    .fa-ellipsis-h {
        padding: 4px 5px;
    }
    .tweet-btn img{
        width: 46px;
    }
    .profile{
        width: 20%;
        padding: 0;
    }
    .profile-section{
        margin: 0;
        width: 48px;
        margin-top: 40px;
    }
    .profile-pic{
        width: 48px;
    }
    .profile-card{
        display: none;
    }
}
@media(max-width:992px){
    ::ng-deep .ng-sidebar{
        max-width: 99px;
    }
}
@media(max-width:768px){
    ::ng-deep .ng-sidebar{
        max-width: 79px;
    }
}