.hide{
    display: none;
}
::ng-deep .mat-dialog-container{
    width: 600px;
    padding: 12px 30px;
    border-radius: 18px;
}
.dialog-box{
    height: 580px;
}
.header1 {
    width: 500px;
}
.next-option {
    font-weight: 700;
    margin-left: 180px;
    margin-top: 10px;
}
.next1{
    margin-top: 0;
}
.next1 .next {
    padding: 11px 15px;
}
.password-section .next-option{
    margin-top: 0;
}
.password-section .next{
    padding: 10px 17px;
}
.next {
    padding: 8px 15px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: rgba(29,161,242,0.5);
    color: white;
}
.help:hover{
    text-decoration: underline;
    cursor: pointer;
}
.logo {
    margin-left: 225px;
}
.cross:hover,
.cancel:hover{
    background-color: rgba(29,161,242,0.2);
}
.next[disabled] {
    background: rgba(29,161,242,0.5);
}
.next[disabled]:hover {
    background: rgba(29,161,242,0.5);
    cursor: default;
}
.next{
    background: rgba(29,161,242,1.00);
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.next:hover {
    background: rgba(26,145,218);
}
i.fa.fa-twitter {
    font-size: 40px;
}
.header {
    float: right;
}
.create-section{
    padding-top: 70px;
}
.title {
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 20px;
}
.sub-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}
.description{
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}
.more-details {
    margin-top: 43px;
    color: rgb(91, 112, 131);
    font-size: 15px;
    font-weight: 400;
}
.use{
    cursor: pointer;
    margin-top: 20px;
    width: 25%;
}
.use:hover{
    text-decoration: underline;
}
.dob-title{
    font-size: 15px;
    font-weight: 700;
    margin-top: 45px;
}
.dob-description {
    color: rgb(91, 112, 131);
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}
.month,
.day{
    padding-right: 10px;
}
.cross,
.cancel {
    font-size: 25px;
    padding: 0px 6px 3px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 10px;
}
.cancel{
    margin-right: 15px;
}
.step{
    font-size: 23px;
    font-weight: 700;
    margin-right: 375px;
    margin-top: 5px;
}
.sign-up {
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgba(29,161,242,1.00);
    padding: 15px 235px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.policy{
    font-size: 15px;
    font-weight: 400;
}
.sign-up-btn {
    margin-top: 115px;
    text-align: center;
}
.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sign-up:hover{
    background-color: rgba(26,145,218);
}
::ng-deep .mat-form-field-wrapper {
    width: 534px;
}
::ng-deep .month .mat-form-field-wrapper {
    width: 250px;
}
::ng-deep .day .mat-form-field-wrapper {
    width: 100px;
}
::ng-deep .year .mat-form-field-wrapper {
    width: 150px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px;
    border: 2px solid #80808042;
}
::ng-deep .active .mat-form-field-appearance-fill .mat-form-field-flex {
    border: 2px solid rgba(29,161,242,1.00);
}
::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    font-size: 17px;
}