<div class="dialog-box" [formGroup]="signUpForm">
    <div [ngClass]="hide1 ? 'hide' : ''" class="create-user-info">
        <header>
            <div class="header header1 blue flex-r">
                <div class="logo">
                    <i class="fa fa-twitter"></i>
                </div>
                <div [ngClass]="enableExpirence? 'enableNext' : ''" class="next-option next1">
                    <button (click)="showCustomizeSection()" [disabled]="!signUpForm.controls.userName.valid || signUpForm.controls.userId.invalid || signUpForm.controls.mobile.invalid || signUpForm.controls.email.invalid || signUpForm.controls.month.invalid || signUpForm.controls.day.invalid || signUpForm.controls.year.invalid" class="next">Next</button>
                </div>
            </div>
        </header>
        <section class="create-section">
            <div class="create-title">
                <div class="title">Create your account</div>
            </div>
            <div #name [ngClass]="activeName ? 'active' : ''" class="name" (click)="checkValidation()">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="userName">
                  </mat-form-field>
            </div>
            <div #id class="id" (click)="checkValidation()">
                <mat-form-field appearance="fill">
                    <mat-label>User Id</mat-label>
                    <input matInput type="text" formControlName="userId">
                  </mat-form-field>
            </div>
            <div class="show-phone" (click)="checkValidation()">
                <div #phone [ngClass]="activePhone ? 'active' : ''" class="phone">
                    <mat-form-field appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput type="number" formControlName="mobile">
                      </mat-form-field>
                </div>
                <!-- <div (click)="closePhone()" class="use-email use blue">Use email instead</div> -->
            </div>
            <div class="show-email" (click)="checkValidation()">
                <div #email [ngClass]="activeEmail ? 'active' : ''" class="email">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                      </mat-form-field>
                </div>
                <!-- <div (click)="closeEmail()" class="use-phone use blue">Use phone instead</div> -->
            </div>
            <div class="dob-title">Date of birth</div>
            <div class="dob-description">This will not be shown publicly. Confirm your own age, 
                even if this account is for a business, a pet, or something else.</div>
                <div class="dob">
                    <span #month class="month" (click)="checkValidation()">
                        <mat-form-field appearance="fill">
                            <mat-label>Month</mat-label>
                            <mat-select [(value)]="selectedMonth" formControlName="month">
                                <mat-option *ngFor="let month of months; let monthIndex=index" (click)="updateDay()" [value]="monthIndex">{{month}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                    <span #day class="day" (click)="checkValidation()">
                        <mat-form-field appearance="fill">
                            <mat-label>Day</mat-label>
                            <mat-select [(value)]="selectedDay" formControlName="day">
                                <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                    <span #year class="year" (click)="checkValidation()">
                        <mat-form-field appearance="fill">
                            <mat-label>Year</mat-label>
                            <mat-select [(value)]="selectedYear" formControlName="year">
                                <mat-option (click)="updateDay()" *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
        </section>
    </div>
    <div [ngClass]="hide2 ? 'hide' : ''" class="customize-section">
        <header>
            <div class="header blue flex-r">
                <div (click)="hideInfoSection()" class="cross">
                    <i class="fa fa-times"></i>
                </div>
                <div class="logo">
                    <i class="fa fa-twitter"></i>
                </div>
                <div (click)="showPasswordSection()" class="next-option">
                    <span class="next">Next</span>
                </div>
            </div>
        </header>
        <section class="pick-header-section">
            <div class="header-content">
                <div class="title">Customize your experience</div>
                <div class="sub-title">Track where you see Twitter content across the web</div>
                <div class="description">Twitter uses this data to personalize your experience. 
                    This web browsing history will never be stored with your name, email, or phone number.</div>
                <div class="more-details">For more details about these settings, visit the <span class="help blue">Help Center</span>.</div>
            </div>
            
        </section>
    </div>
    <div [ngClass]="hide3 ? 'hide' : ''" class="password-section">
        <header>
            <div class="header blue flex-r">
                <div (click)="hidePasswordSection()" class="cross">
                    <i class="fa fa-times"></i>
                </div>
                <div class="logo">
                    <i class="fa fa-twitter"></i>
                </div>
                <div (click)="showSignUpSection()" class="next-option">
                    <button [disabled]="signUpForm.controls.password.invalid || signUpForm.controls.confirmPassword.invalid" class="next">Next</button>
                </div>
            </div>
        </header>
        <section class="create-section">
            <div class="create-title">
                <div class="title">Create your password</div>
            </div>
            <div class="password">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </div>
            <div class="confirm-password">
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword">
                </mat-form-field>
            </div>
        </section>
    </div>
    <div [ngClass]="hide4 ? 'hide' : ''" class="final-section">
        <header>
            <div class="header flex-r">
                <div (click)="hideSignUpSection()" class="cancel blue">
                    <i class="fa fa-times"></i>
                </div>
                <div class="step">Step 3 of 5</div>
            </div>
        </header>
        <section class="create-section">
            <div class="create-title">
                <div class="title">Create your account</div>
            </div>
            <div #name [ngClass]="activeName ? 'active' : ''" class="name">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="userName">
                  </mat-form-field>
            </div>
            <div *ngIf="showPhone" class="show-phone">
                <div #phone [ngClass]="activePhone ? 'active' : ''" class="phone">
                    <mat-form-field appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="mobile">
                      </mat-form-field>
                </div>
            </div>
            <div class="dob">
                <mat-form-field appearance="fill">
                    <mat-label>Birth date</mat-label>
                    <input matInput formControlName="dob">
                  </mat-form-field>
            </div>
            <div class="policy">By signing up, you agree to the <span class="link blue">Terms of Service</span> and <span class="link blue">Privacy Policy</span>,
                 including <span class="link blue">Cookie Use </span>. Others will be able to find you by email or phone number when provided.
                 <span class="link blue">Privacy Options</span></div>
            <div class="sign-up-btn">
                <button [disabled]="signUpForm.invalid" (click)="closeDialog()" (click)="addUser()" class="sign-up">Sign Up</button>
            </div>
        </section>
    </div>
</div>