<section class="conversation-section">
    <div class="message-card">
        <div class="title">You don’t have a message selected</div>
        <div class="message-info">Choose one from your existing messages, or start a new one.</div>
        <div class="compose-button">
            <span mat-raised-button (click)="openDialog()" class="compose-btn">New message</span>
        </div>
    </div>
</section>