<header>
    <div class="header flex-r">
        <div class="back-arrow" (click)="goBack()">
            <i class="fa fa-long-arrow-left blue"></i>
        </div>
        <div class="user">
            <div class="name">{{userName}}</div>
            <div class="no-of-tweets">0 Tweets</div>
        </div>
    </div>
</header>
<section class="show-profile-section">
    <div class="images">
        <div class="bg-image">
            <img src={{bannerPic}} alt="Bg Img" class="bg-img">
        </div>
        <div class="profile-pic">
            <img src={{profilePic}} alt="Profile Pic">
        </div>
    </div>
    <div *ngIf="hideSetUp">
        <div *ngIf="!follow" mat-raised-button (click)="openDialog()" class="set-up-button">
            <div class="button blue">Set up profile</div>
        </div>
    </div>
    <div *ngIf="hideEdit">
        <div *ngIf="!follow" mat-raised-button (click)="openEditDialog()" class="set-up-button edit-button">
            <div class="button blue">Edit profile</div>
        </div>
    </div>
    <div *ngIf="follow" (click)="addToFollowing()" class="set-up-button follow-b">
        <div *ngIf="!IsFollowing" class="button blue">Follow</div>
    </div>
    <div class="follow-button" (click)="removeFromFollowing()" *ngIf="IsFollowing" appFollowBtn>
        <div class="follow">
            <div class="following">Following</div>
            <div class="unfollow">Unfollow</div> 
        </div>
    </div>
   
</section>
<section class="user-info-section">
    <div class="user-info">
        <div class="name">{{userName}}</div>
        <div class="id">{{userId}}</div>
        <div class="date flex-r">
            <i class="fa fa-calendar"></i>
            <div class="join">Joined {{doj}}</div>
            <div class="doj">{{doj}}</div>
        </div>
        <div class="links flex-r">
            <div class="following link" routerLink="following">
                <span class="no-following num">1</span>
                <span class="following">Following</span>
            </div>
            <div class="followers link" routerLink="followers">
                <span class="no-followers num">1</span>
                <span class="followers">Followers</span>
            </div>
        </div>
    </div>
</section>
<section class="tab-section">
    <div class="tabs flex-r">
        <div class="tweets tab" routerLink="tweets" routerLinkActive="active_route active1">Tweets
            <div class="line1 line"></div>
        </div>
        <div class="with_replies tab" routerLink="with_replies" routerLinkActive="active_route active2">Tweets & replies
            <div class="line2 line"></div>
        </div>
        <div class="media tab" routerLink="media" routerLinkActive="active_route active3">Media
            <div class="line3 line"></div>
        </div>
        <div class="likes tab" routerLink="likes" routerLinkActive="active_route active4">Likes
            <div class="line4 line"></div>
        </div>
    </div>
    
</section>
<div class="tweets-content">
    <!-- <router-outlet></router-outlet> -->
</div>