<header>
    <div class="header flex-r">
        <div class="title-id">
            <div class="bookmark">Bookmarks</div>
            <div class="id">@Aastha123456</div>
        </div>
        <div class="more blue">
            <i class="fa fa-circle"></i>
            <i class="fa fa-circle"></i>
            <i class="fa fa-circle"></i>
        </div>
    </div>
</header>
<section class="tweet-cards-section">
    <div class="tweet-cards">
        <app-tweet-card></app-tweet-card>
        <app-tweet-card></app-tweet-card>
        <app-tweet-card></app-tweet-card>
        <app-tweet-card></app-tweet-card>
        <app-tweet-card></app-tweet-card>
    </div>
</section>