<section class="following-section">
    <div class="following flex-r">
        <div class="profile-pic">
            <img src="../../../../assets/cricket4.jpg" alt="Profile Pic">
        </div>
        <div class="profile-info">
            <div class="info flex-r">
                <div class="profile-name">
                    <div class="name">CricTracker</div>
                    <div class="id">@cricket</div>
                </div>
                <div class="follow-button" appFollowBtn>
                    <div class="follow">
                        <div  class="following">Following</div> 
                        <div  class="unfollow">Unfollow</div> 
                    </div>
                </div>
            </div>
            <div class="bio">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, a.</div>
        </div>
    </div>
</section>
<section class="following-section">
    <div class="following flex-r">
        <div class="profile-pic">
            <img src="../../../../assets/cricket5.jpg" alt="Profile Pic">
        </div>
        <div class="profile-info">
            <div class="info flex-r">
                <div class="profile-name">
                    <div class="name">CricTracker1</div>
                    <div class="id">@cricket</div>
                </div>
                <div class="follow-button" appFollowBtn>
                    <div class="follow">
                        <div  class="following">Following</div> 
                        <div  class="unfollow">Unfollow</div> 
                    </div>
                </div>
            </div>
            <div class="bio">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, a.</div>
        </div>
    </div>
</section>
<section class="following-section">
    <div class="following flex-r">
        <div class="profile-pic">
            <img src="../../../../assets/cricket1.jpg" alt="Profile Pic">
        </div>
        <div class="profile-info">
            <div class="info flex-r">
                <div class="profile-name">
                    <div class="name">CricTracker2</div>
                    <div class="id">@cricket</div>
                </div>
                <div class="follow-button" appFollowBtn>
                    <div class="follow">
                        <div  class="following">Following</div> 
                        <div  class="unfollow">Unfollow</div> 
                    </div>
                </div>
            </div>
            <div class="bio">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, a.</div>
        </div>
    </div>
</section>