.card{
    text-align: center;
    padding: 40px 20px;
    padding-bottom: 450px;
}
.tweet-card{
    padding-top: 16px;
}
.box {
    position: relative;
}
.box .retweet-count, 
.box .like-count {
    position: absolute;
    height: 20px;
    top: 5px;
    left: 30px;
}
/* .box .like-count{
    top: 0;
    left: 0;
} */
.heart {
    position: relative;
    height: 14px;
}
@keyframes heart {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}
.fa-heart{
    animation-delay: .2s;
    animation-name: heart;
    animation-duration: .5s;
    transform: scale(1);
}
.heart{
    position: relative;
    height: 14px;    
}
.heart .fa{
    position: absolute;
    height: 14px;
}
.circle {
    width: 25px;
    height: 25px;
    border: 1px solid violet;
    background-color: rgba(238, 130, 238, 1);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transform: scale(0);
    animation-name: heart;
    animation-duration: .3s;
}