.header{
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: white;
    z-index: 1;

}
header{
    border-bottom: 1px solid #80808057;
    position: fixed;
    width: 44.45%;
    background-color: white;
}
.notifications{
    font-size: 20px;
    font-weight: 900;
    width: 90%;
    padding-top: 13px;
    padding-bottom: 13px;
}
.settings{
    margin: 6.5px 0 6.5px 21px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px 10px 2px;
}
.settings:hover{
    background-color: rgba(29,161,242,0.1);
}
.tabs{
    width: 100%;
}
.tab{
    width: 50%;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #5b7083;
    text-align: center;
    padding: 16px 0 0;
}
.tab:hover{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
}
.content {
    padding-top: 105px;
}
.active_route{
    color: rgba(29,161,242,1.00);
}
.active_route .line{
    display: block;
}
.line{
    border: 2px solid;
    border-radius: 2px;
    width: 21%;
    margin-left: 39%;
    margin-top: 12px;
    display: none;
}
.header {
    padding: 0px 16px;
}
header {
    position: fixed;
    z-index: 100;
    background: white;
    width: 43.9%;
    border-bottom: 1px solid #80808057;
}
.show-profile-section {
    margin-top: 53px;
}
.back-arrow {
    font-size: 20px;
    padding: 10px 9px 0;
    border-radius: 50%;
    margin: 6px 16px 8px 0;
    cursor: pointer;
}
.back-arrow:hover{
    background-color: rgba(29,161,242,0.1);
}
.user {
    padding: 6.5px 0px;
}
.name {
    font-size: 20px;
    font-weight: 800;
}
.id {
    color: rgb(91, 112, 131);
    font-size: 13px;
    font-weight: 400;
}