<header>
    <div class="header flex-r">
        <div class="back-arrow" (click)="goBack()">
            <i class="fa fa-long-arrow-left blue"></i>
        </div>
        <div class="user">
            <div class="name">Aastha</div>
            <div class="id">@Aastha123456</div>
        </div>
    </div>
    <div class="tabs flex-r">
        <div class="followers tab" routerLink="followers" routerLinkActive="active_route">Followers
            <div class="line"></div>
        </div>
        <div class="following tab" routerLink="following" routerLinkActive="active_route">Following
            <div class="line"></div>
        </div>
    </div>
</header>
<div class="content">
    <router-outlet></router-outlet>
</div>