.following-section {
    padding: 12px 16px;
    border-bottom: 1px solid #80808057;
    cursor: pointer;
}
.profile-pic img {
    width: 48px;
}
.profile-pic {
    margin-right: 12px;
    height: 45px;
}
.profile-info {
    width: 100%;
}
.name {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5;
}
.id {
    color: rgb(91, 112, 131);
    font-size: 15px;
    font-weight: 400;
}
.profile-name{
    width: 80%;
}
.follow-button {
    padding-top: 5px;
    width: 93px;
    text-align: center;
}
.follow{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgba(29,161,242,1.00);
    padding: 6px 15px;
    border-radius: 35px;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.follow:hover{
    background-color: rgb(141, 21, 21);
}
.unfollow{
    display: none;
}
.active .unfollow{
    display: block;
}
.active .following{
    display: none;
}
.bio {
    padding-top: 4px;
    font-size: 15px;
    font-weight: 400;
}
