<div class="following-people" *ngFor="let following of followingList">
    <div class="following-section">
        <div class="following flex-r">
            <div class="profile-pic">
                <img src="../../../../assets/cricket1.jpg" alt="Profile Pic">
            </div>
            <div class="profile-info">
                <div class="info flex-r">
                    <div class="profile-name">
                        <div class="name">CricTracker</div>
                        <div class="id">@cricket</div>
                    </div>
                    <div class="follow-button" appFollowBtn>
                        <div class="follow">
                            <div  class="following">Following</div> 
                            <div  class="unfollow">Unfollow</div> 
                        </div>
                    </div>
                </div>
                <div class="bio">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, a.</div>
            </div>
        </div>
    </div>
</div>
