<div class="app">
    <header>
        <div class="header flex-r wrapper">
            <div class="cross blue" (click)="onNoClick()">
                <i class="fa fa-times"></i>
            </div>
            <div class="title compose">New Message</div>
            <div class="next-btn">
                <div class="next">Next</div>
            </div>
        </div>
    </header>
    <section class="search-section">
        <div class="search wrapper flex-r">
            <div class="search-icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="search-input">
                <input type="text" placeholder="Search people" [(ngModel)]="txtValue" (ngModelChange)="onTextChange($event)">
            </div>
        </div>
        <div class="people" *ngIf='!hide'>
            <div class="fill-message display" *ngIf='fill'>
                <div class="profile flex-r">
                    <div class="profile-pic">
                        <img src="../../../../assets/cricket1.jpg" alt="">
                    </div>
                    <div class="data">
                        <div class="name">CricTracker</div>
                        <div class="id">@cricket</div>
                    </div>
                </div>
                <div class="profile flex-r">
                    <div class="profile-pic">
                        <img src="../../../../assets/cricket1.jpg" alt="">
                    </div>
                    <div class="data">
                        <div class="name">CricTracker</div>
                        <div class="id">@cricket</div>
                    </div>
                </div>
                <div class="profile flex-r">
                    <div class="profile-pic">
                        <img src="../../../../assets/cricket1.jpg" alt="">
                    </div>
                    <div class="data">
                        <div class="name">CricTracker</div>
                        <div class="id">@cricket</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>