.wrapper{
    padding: 0 16px;
}
.app{
    height: 80vh;
    width: 600px;
}
::ng-deep .mat-dialog-container {
    border-radius: 20px !important;
    padding: 0;
}
.cross{
    font-size: 22px;
    padding: 10px;
    margin: 12px 0;
    border-radius: 50%;
    cursor: pointer;
}
.cross:hover{
    background-color: rgba(29,161,242,0.1);
}
.title{
    padding: 20px;
    width: 78%;
}
.next-btn {
    margin-top: 12px;
}
.next {
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 20px;
    color: white;
    background: rgba(29,161,242,0.5);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.search {
    border-bottom: 1px solid #80808057;
}
input{
    border: none;
    font-size: 16px;
}
.search-icon {
    padding: 0 17px 0 9px;
    font-size: 20px;
    margin-bottom: 19px;

}
.people {
    width: 100%;
    background: white;
}
.display {
    text-align: center;
    border-radius: 5px;
    padding: 26px 0 60px;
    box-shadow: 1px 0px 9px 0px #80808073;
    z-index: 100;
}
.null-text,
.id {
    font-size: 15px;
    font-weight: 400;
    color: rgb(91, 112, 131);
}
.profile{
    border-bottom: 1px solid #80808057;
    padding: 12px 16px;
}
.profile-pic {
    margin-right: 12px;
    width: 40px;
    height: 37px;
}
.profile-pic img {
    width: 40px;
}
.name{
    font-size: 15px;
    font-weight: 700;
}
.id{
    text-align: left;
}
.fill-message{
    padding: 0;
}
