<div class="wrapper">
    <div #message class="search-bar" [ngClass]="status ? 'success' : 'danger'">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search Twitter" class="search" [(ngModel)]="searchString" (ngModelChange)="onTextChange($event)">
        <i *ngIf='fill' (click)="nullifyValue()" class="fa fa-times-circle cross"></i>
        <div class="people" *ngIf='!hide'>
            <div class="empty-message display" *ngIf='!fill'>
                <div class="null-text">Try searching for people, topics, or keywords</div>
            </div>
            <div class="fill-message display" *ngIf='fill'>
                <div *ngFor="let user of users | filter:searchString">
                    <div class="profile flex-r" routerLink="profile/{{user.uid}}" (click)="checkProfile(user.uid)">
                        <div class="profile-pic">
                            <img src={{user.profilePic}} alt="">
                        </div>
                        <div class="data">
                            <div class="name">{{user.name}}</div>
                            <div class="id">{{user.id}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>