.wrapper{
    margin-left: 28px;
    position: fixed;
    width: 24%;
}
.search-bar{
    border-radius: 30px;
    border: 1px solid rgb(235, 238, 240);
    margin: 3.5px 0;
    padding: 11px 12px;
    background-color: rgb(235, 238, 240);
    z-index: 1;
    width: 100%;
}
.fa-search{
    font-size: 20px;
    padding-left: 8px;
    width: 35px;
    color: rgb(91, 112, 131);
}
.search{
    font-size: 15px;
    font-weight: 100;
    border: none;
    background-color: rgb(235, 238, 240);
}
.success{
    background-color: white;
    border: 1px solid rgba(29,161,242,1.00);
}
.success .fa-search{
    color: rgba(29,161,242,1.00);
}
.success .search{
    background-color: white;
}
.success .cross{
    display: block;
}
.cross{
    color: rgba(29,161,242,1.00);
    font-size: 25px;
    float: right;
    display: none;
    transition: color 0.5s;
    transition-timing-function: ease-in-out;
    cursor: default;
}
.cross:hover{
    color: rgba(26,145,218);
}
.people {
    position: absolute;
    width: 108%;
    top: 94%;
    left: 0;
    background: white;
    right: 0;
}
.data {
    text-align: left;
}
.display {
    text-align: center;
    border-radius: 5px;
    padding: 26px 0 60px;
    box-shadow: 1px 0px 9px 0px #80808073;
    z-index: 100;
}
.null-text,
.id {
    font-size: 15px;
    font-weight: 400;
    color: rgb(91, 112, 131);
}
.profile{
    border-bottom: 1px solid #80808057;
    padding: 12px 16px;
    cursor: pointer;
}
.profile-pic {
    margin-right: 12px;
    width: 40px;
    height: 40px;
}
.profile-pic img {
    width: 40px;
    height: 40px;
}
.name{
    font-size: 15px;
    font-weight: 700;
}
.id{
    text-align: left;
}
.fill-message{
    padding: 0;
}
@media(max-width:1230px){
    .fa-search{
        width: 32px;
    }
    .search{
        width: 170px;
    }
}
