<section class="notification-cards-section">
    <div class="notifications" (click)="openDetailPage()">
        <div class="flex-r">
            <div class="notification-icon">
                <i class="fa fa-bell blue"></i>
            </div>
            <div class="profile-pics">
                <img src="../../../../assets/cricket4.jpg" alt="Profile-pic" class="pic">
                <img src="../../../../assets/cricket5.jpg" alt="Profile-pic">
                <img src="../../../../assets/cricket1.jpg" alt="Profile-pic">
                <img src="../../../../assets/cricket5.jpg" alt="Profile-pic">
                <img src="../../../../assets/cricket4.jpg" alt="Profile-pic">
                <img src="../../../../assets/cricket1.jpg" alt="Profile-pic">
            </div>
        </div>
        <div class="notification-content">
            New tweet notification from user and 5 others
        </div>
    </div>
    <div class="notification-cards" *ngIf="showBox">
        <div class="notification-card">
            <span class="action-logo">
                <i class="fa fa-retweet"></i>
            </span>
            <span class="profile-pic">
                <img src="../../../../assets/cricket5.jpg" alt="Profile Pic">
            </span>
            <div class="follower-info flex-r">
                <div class="follower-name">Cricket</div>
                <div class="action">Retweeted your tweet</div>
            </div>
            <div class="data">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto cupiditate, ducimus odio blanditiis quisquam rerum!</p>
            </div>
        </div>
        <div class="notification-card">
            <span class="action-logo">
                <i class="fa fa-heart"></i>
            </span>
            <span class="profile-pic">
                <img src="../../../../assets/cricket4.jpg" alt="Profile Pic">
            </span>
            <div class="follower-info flex-r">
                <div class="follower-name">Cricket</div>
                <div class="action">Liked your tweet</div>
            </div>
            <div class="data">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto cupiditate, ducimus odio blanditiis quisquam rerum!</p>
            </div>
        </div>
    </div>
</section>