.profile-pic img{
    width: 30px;
}
.profile-pic{
    background: none;
}
.action-logo .fa-retweet,
.action-logo .fa-heart{
    font-size: 25px;
    vertical-align: top;
    color: rgba(59, 235, 138,1.00);
    padding-right: 10px;
}
.action-logo .fa-heart{
    color: rgba(223, 52, 47,1.00);
}
.notification-cards-section {
    margin-top: 16px;
}
.notification-card {
    padding: 16px;
    border-bottom: 1px solid #80808057;
    cursor: pointer;
}
.notification-card:hover{
    background-color: #b4b2b242;
}
.follower-info ,
.data{
    margin-left: 36px;
    font-size: 15px;
    font-weight: 400;
}
.follower-name{
    font-weight: 600;
    padding-right: 8px;
}
.data{
    color: rgb(91, 112, 131);
}
.profile-pics img{
    width: 40px;
    margin-right: 10px;
}
i.fa.fa-bell.blue {
    font-size: 30px;
}
.notification-content {
    font-size: 15px;
    font-weight: 400;
    padding-left: 75px;
}
.notification-icon {
    padding: 0 12px;
    padding-left: 30px;
}
.notifications {
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid #80808057;
}