.skip-option {
    font-size: 15px;
    font-weight: 700;
    margin-left: 375px;
    border: none;
}
.edit{
    font-size: 15px;
    font-weight: 500;
}
.skip {
    padding: 7px 15px;
    border: 1px solid transparent;
    border-radius: 30px;
    color: white;
    background: rgba(29,161,242,1.00);
}
.hide{
    display: none;
}
.bg-img{
    width: 532px;
    height: 150px;
}
.bg-img img {
    border-radius: 0;
    width: 583px;
    height: 200px;
}
.profilePic{
    position: relative;
}
.fa.fa-camera {
    position: absolute;
    top: 31px;
    left: 87px;
    z-index: 100;
}
.fa-camera.h{
    top: 86px;
    left: 49%;
    position: absolute;
}
.uploadPic{
    position: absolute;
    width: 130px;
    border: 4px solid white;
    bottom: 0;
    left: 0;
    bottom: -102px;
    left: 25px;
}
.dialog-box{
    height: 500px;
}
.pick-header-section {
    padding-top: 50px;
}
.skip:hover,
.cross:hover,
.cancel:hover{
    background-color: rgba(29,161,242,0.2);
}
::ng-deep .mat-dialog-container{
    width: 600px;
    border-radius: 18px;
    padding: 0;
}
.header {
    float: right;
    margin-right: 13px;
}
.bg-image{
    position: relative;
}
.cross,
.cancel {
    font-size: 25px;
    padding: 0px 7px 4px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.logo {
    margin-left: 15px;
    margin-top: 15px;
}
i.fa.fa-twitter {
    font-size: 40px;
}
.form {
    margin-top: 114px;
    padding: 0 20px;
}
::ng-deep .mat-form-field-wrapper {
    width: 500px;
}