<div class="dialog-box" [formGroup]="setupForm">
    <div [ngClass]="hide1 ? 'hide' : ''" class="pick-picture">
        <header>
            <div class="header blue flex-r">
                <div class="logo">
                    <i class="fa fa-twitter"></i>
                </div>
                <div (click)="hidePicSection()" class="skip-option">
                    <span class="skip">Skip for now</span>
                </div>
            </div>
        </header>
        <section class="picture-section">
            <div class="picture-content">
                <div class="pick">Pick a profile picture</div>
                <div class="selfie">Have a favorite selfie? Upload it now.</div>
            </div>
            <div class="upload-picture">
                <i class="fa fa-camera" (click)="uploadProfilePic.click()" [title]="'Add a photo'"></i>
                <img class="uploadPic" src={{imageUrl}} alt="Profile Pic">
                <input class="hide" #uploadProfilePic type="file" (change)="showProfilePic($event)">
            </div>
        </section>
    </div>
    <div [ngClass]="hide2 ? 'hide' : ''" class="pick-header">
        <header>
            <div class="header blue flex-r">
                <div (click)="hideHeaderSection()" class="cross">
                    <i class="fa fa-times"></i>
                </div>
                <div class="logo">
                    <i class="fa fa-twitter"></i>
                </div>
                <div (click)="showBioSection()" class="skip-option">
                    <span class="skip">Skip for now</span>
                </div>
            </div>
        </header>
        <section class="pick-header-section">
            <div class="header-content">
                <div class="pick">Pick a header</div>
                <div class="selfie">People who visit your profile will see it. Show your style.</div>
            </div>
            <div class="upload-picture">
                <div class="bg-image">
                    <i class="fa fa-camera h" (click)="uploadBannerPic.click()" [title]="'Add a photo'"></i>
                    <div class="bg-img">
                        <img src={{bannerUrl}}>
                    </div>
                    <input class="hide" #uploadBannerPic type="file" (change)="showBannerPic($event)">
                </div>
                <img class="profilePic" src={{imageUrl}} alt="Profile Pic">
            </div>
            <div class="user-info">
                <div class="name">Aastha</div>
                <div class="id">@Aastha123456</div>
            </div>
        </section>
    </div>
    <div [ngClass]="hide3 ? 'hide' : ''" class="bio-section">
        <header>
            <div class="header blue flex-r">
                <div (click)="hideBioSection()" class="cross">
                    <i class="fa fa-times"></i>
                </div>
                <div class="logo">
                    <i class="fa fa-twitter"></i>
                </div>
                <div (click)="showFinalSection()" class="skip-option">
                    <span  class="skip">Skip for now</span>
                </div>
            </div>
        </header>
        <section class="pick-header-section">
            <div class="header-content">
                <div class="pick">Describe yourself</div>
                <div class="selfie">What makes you special? Don't think too hard, just have fun with it.</div>
            </div>
            <div #bio [ngClass]="active ? 'active' : ''" class="bio-description">
                <mat-form-field appearance="fill">
                    <mat-label>Your bio</mat-label>
                    <input matInput formControlName="bio">
                  </mat-form-field>
            </div>
        </section>
    </div>
    <div [ngClass]="hide4 ? 'hide' : ''" class="final-section">
        <header>
            <div class="header blue flex-r">
                <div (click)="hideFinalSection()" class="cancel">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </header>
        <section class="updated-section">
            <div class="final-logo">
                <i class="fa fa-twitter blue"></i>
            </div>
            <div class="pick">Your profile is updated</div>
            <div class="see-profile-btn">
                <span (click)="updateProfile()" (click)="closeDialog()" routerLink="profile/{{currentUser}}" class="see-profile">See profile</span>
            </div>
        </section>
    </div>
</div>