.app{
    display: flex;
    flex-direction: row;
    /* margin: 0 42px; */
    height: 100%;
}
.left-content{
    width: 23.5%;
    float: left;
}
.right-content{
    display: flex;
    flex-direction: row;
    width: 76.6%;
    float: right;
}
.content-page{
    width: 37.5%;
    position: relative;
    border: 1px solid #8080803d;
    border-top: 0;
    border-bottom: 0;
    height: 100vh;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.right-sidebar{
    width: 58%;
    border-right: 1px solid #8080803d;
    height: 100vh;
}
ng-sidebar-container{
    height: 100vh;
}
::ng-deep aside{
    width: 23.1%;
}
@media(max-width:1281px){
    .left-content {
        width: 15%;
    }
    .right-content{
        width: 85%;
    }
}
@media(max-width:1004px){
    .right-sidebar{
       display: none;
    }
    .content-page{
        width: 80%;
    }
}