<header>
    <div class="header flex-r">
        <div class="back-arrow" (click)="goBack()">
            <i class="fa fa-long-arrow-left blue"></i>
        </div>
        <div class="user">
            <div class="tweet">Tweet</div>
        </div>
    </div>
</header>
<section class="thread-section">
    <div class="tweet-card">
        <div class="topic flex-r" routerLink="detail">
            <div class="topic-icon">
                <i class="fa fa-commenting"></i>
            </div>
            <div class="topic-name">Cricket</div>
        </div>
        <div class="tweet-box flex-c">
            <div class="top flex-r">
                <div class="user-pic" routerLink="detail">
                    <img src="../../../assets/cricket1.jpg" alt="Cricket">
                </div>
                <div class="profile-name">
                    <div class="user-name">CricTracker</div>
                    <div class="user-id">@cricket</div>
                </div>
                
                <div class="user-info flex-r">
                    <div class="bars">
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                    </div>
                </div>
            </div>
            <div class="main-tweet-data">
                <div class="main-user-tweet" routerLink="detail">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, impedit.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, excepturi?
                </div>
                <div class="date-time flex-r">
                    <div class="time">6:22 PM</div>
                    <div class="dot">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="date">May 31, 2021</div>
                    <div class="dot">
                        <i class="fa fa-circle"></i>
                    </div>
                    <div class="device-name">Twitter Web App</div>
                </div>
                <div class="operations-data flex-r">
                    <div [@valueUpdated]="retweetCount" class="box retweets-data data">
                        <span *ngFor="let retweetCount of [ retweetCount ]" class="retweet-count count">{{retweetCount}}</span>
                        <span class="retweets">Retweets</span>
                    </div>
                    <div class="quote-tweets-data data">
                        <span class="num-quote-tweets count">3</span>
                        <span class="quote-tweets">Quote Tweets</span>
                    </div>
                    <div [@valueUpdated]="likeCount" class="box likes-data data">
                        <span *ngFor="let likeCount of [ likeCount ]" class="like-count count">{{likeCount}}</span>
                        <span class="likes">Likes</span>
                    </div>
                </div>
                <div class="operations">
                    <span mat-raised-button (click)="openDialog()" class="reply-icon function">
                        <i class="fa fa-comment-o func-icon"></i>
                    </span>
                    <span #retweet [ngClass]="retweeted ? 'retweeted' : '' " class="retweet-icon function" 
                    (click)="showRetweeted()">
                        <i class="fa fa-retweet func-icon"></i>
                        <div *ngIf="showRetweetOption" class="retweet-options" (click)="hideRetweetBox()">
                            <div class="retweet option">
                                <span class="retweet" *ngIf="!retweeted" (click)="increaseRetweet()">
                                    <i class="fa fa-retweet"></i>
                                    <span class="retweet-txt txt">Retweet</span>
                                </span>
                                <span class="undo-retweet" *ngIf="retweeted" (click)="decreaseRetweet()">
                                    <i class="fa fa-retweet"></i>
                                    <span class="retweet-txt txt">Undo Retweet</span>
                                </span>
                            </div>
                            <div mat-raised-button (click)="openQuoteDialog()" class="quote option">
                                <i class="fa fa-envelope-o"></i>
                                <span class="quote-txt txt">Quote Tweet</span>
                            </div>
                        </div>
                    </span>
                    <span class="like-icon function" [ngClass]="liked ? 'liked' : 'disliked'" [title]="'Like'" (click)="increaseLikes()">
                        <span class="heart">
                            <i *ngIf="!liked" class="fa fa-heart-o func-icon"></i>
                            <i *ngIf="liked" class="fa fa-heart func-icon"></i>
                            <span *ngIf="liked" class="circle"></span>
                        </span>
                    </span>
                    <span #share class="share-icon func function">
                        <i class="fa fa-upload func-icon"></i>
                        <div *ngIf="show" class="options" (click)="hideBox()">
                            <div class="dm option">
                                <i class="fa fa-envelope-o"></i>
                                <span class="dm-txt txt">Send via Direct Message</span>
                            </div>
                            <div class="bookmark option">
                                <i class="fa fa-bookmark-o"></i>
                                <span class="bookmark-txt txt">Add Tweet to Bookmarks</span>
                            </div>
                            <div class="copy option">
                                <i class="fa fa-link"></i>
                                <span class="copy-txt txt">Copy link to Tweet</span>
                            </div>
                            <div class="share-tweet option">
                                <i class="fa fa-upload"></i>
                                <span class="share-txt txt">Share Tweet via ...</span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="thread-cards">
        <app-tweet-card [reply]="reply" [parent]="parent"></app-tweet-card>
        <app-tweet-card [reply]="reply" [child]='child'></app-tweet-card>
        <app-tweet-card [reply]="reply" [parent]="parent"></app-tweet-card>
        <div class="show-replies flex-r" *ngIf="!showChildReply" (click)="childReply()">
            <div class="continue">
                <div class="dots flex-c">
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-circle"></i>
                </div>
            </div>
            <a class="show-button blue">Show Replies</a>
        </div>
        <div *ngIf="showChildReply">
            <app-tweet-card [reply]="reply" [child]='child'></app-tweet-card>
            <app-tweet-card [reply]="reply" [child]='child'></app-tweet-card>
        </div>
    </div>
</section>
