.header {
    padding: 0px 16px;
}
header {
    position: fixed;
    z-index: 100;
    background: white;
    width: 43.9%;
    border-bottom: 1px solid #80808057;
}
.show-profile-section {
    margin-top: 53px;
}
.back-arrow {
    font-size: 20px;
    padding: 8px 9px 0;
    border-radius: 50%;
    margin: 6px 16px 8px 0;
    cursor: pointer;
}
.back-arrow:hover{
    background-color: rgba(29,161,242,0.1);
}
.user {
    padding: 16.5px 0px;
}
.tweet {
    font-size: 20px;
    font-weight: 800;
}
.thread-section {
    margin-top: 60px;
}
.topic-icon {
    text-align: left;
    width: 2.5%;
}
.profile-name{
    width: 82%;
}
.main-user-tweet {
    font-size: 23px;
    font-weight: 400;
    margin-top: 0;
    color: rgb(15, 20, 25);
}
.main-tweet-data {
    padding: 14px 0 0;
}
.user-info .bars {
    margin-bottom: 10px;
}
.user-pic{
    height: 45px;
}
.date-time,
.operations-data,
.tweet-card .operations {
    color: rgb(91, 112, 131);
    font-size: 15px;
    font-weight: 400;
    padding: 16px 4px;
    border-bottom: 1px solid #80808057;
    margin-top: 0;
    width: 100%;
}
.function {
    font-size: 20px;
    margin: 0 52px;
    cursor: pointer;
}
span.like-icon.function {
    margin: 0 95px 0 52px;
}
.tweet-card .operations{
    border-bottom: none;
    cursor: default;
}
.dot .fa-circle {
    padding: 8px 4px 0;
}
.count{
    color: rgb(15, 20, 25);
    font-weight: 600;
    padding: 0 4px;
}
.data{
    padding-right: 15px;
}
.thread-card{
    padding: 12px 16px;
}
.user-details {
    width: 92%;
}
.replying-to {
    color: rgb(91, 112, 131);
    font-size: 15px;
    font-weight: 400;
}
.operations{
    margin-top: 5px;
}
.tweet-data{
    padding-bottom: 0;
}
.reply-card{
    position: relative;
}
.line {
    position: absolute;
    height: 102px;
    border: 1px solid rgb(196, 207, 214);
    background-color: rgb(196, 207, 214);
    top: 65px;
    left: 55px;
}
.dots{
    font-size: 3px;
    color: rgb(196, 207, 214);
}
.dots .fa{
    padding-bottom: 3px;
}
.show-replies {
    padding: 20px 38px;
    cursor: pointer;
}
.show-button {
    font-size: 15px;
    font-weight: 400;
    padding-left: 34px;
    cursor: pointer;
}
@keyframes heart {
    from {transform: scale(0.5);}
    to {transform: scale(1);}
}
.fa-heart{
    animation-delay: .2s;
    animation-name: heart;
    animation-duration: .5s;
    transform: scale(1);
}
.heart{
    position: relative;
    height: 14px;    
}
.heart .fa{
    position: absolute;
    height: 14px;
}
.circle {
    width: 30px;
    height: 30px;
    border: 1px solid violet;
    background-color: rgba(238, 130, 238, 1);
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 3px;
    transform: scale(0);
    animation-name: heart;
    animation-duration: .3s;
}
.retweet-options{
    left: 0;
}
.box .retweet-count,
 .box .like-count {
    position: absolute;
    height: 20px;
}
.box {
    position: relative;
}
.retweets {
    padding-left: 17px;
}
.likes {
    padding-left: 36px;
}
.options{
    width: 228px;
    border-radius: 4px;
    box-shadow: 1px 0px 9px 0px #80808073;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    background: white;
    z-index: 100;
    top: 0;
    left: 0;
}
.option{
    padding: 16px;
}
.options .option .fa{
    padding-right: 12px;
}