<header>
    <div class="header flex-r">
        <div class="messages">Messages</div>
        <div class="icons blue">
            <span class="icon" routerLink="settings">
                <i class="fa fa-cog"></i>
            </span>
            <span mat-raised-button (click)="openDialog()" class="icon">
                <i class="fa fa-envelope-o"></i>
            </span>
        </div>
    </div>
</header>
<section class="conversation-section">
    <div class="message-card">
        <div class="title">Send a message, get a message</div>
        <div class="message-info">Direct Messages are private conversations between you and other people on Twitter. Share Tweets, media, and more!</div>
        <div class="compose-button">
            <span mat-raised-button (click)="openDialog()" class="compose-btn">Start a conversation</span>
        </div>
    </div>
</section>