.header {
    border-bottom: 1px solid #80808057;
}
.messages {
    font-size: 20px;
    font-weight: 800;
    margin: 13px 16px;
    width: 70%;
}
.icon{
    font-size: 21px;
}
.icon .fa {
    padding: 9px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.icon:hover .fa{
    background-color: rgba(29,161,242,0.1);
}
.icons {
    margin: 7.5px 0;
}
.message-card{
    text-align: center;
    padding: 37px 20px;
}

@media(max-width:1230px){
    .messages{
        width: 64%;
    }
}
