
    <div class="tweet-card reply-card">
        <div *ngIf="reply">
            <div *ngIf="parent" class="line"></div>
        </div>
        <div *ngIf="isTweet" class="topic flex-r" (click)="openDetailPage()">
            <div class="topic-icon">
                <svg viewBox="0 0 24 24">
                    <g><path d="M18.265 3.314c-3.45-3.45-9.07-3.45-12.52 0-3.45 3.44-3.45 9.06 0 12.51 1.5 1.49 3.43 2.38 5.51 2.56v4.14c0 .31.2.6.5.7.08.03.17.05.25.05.22 0 .44-.1.59-.29l6.49-8.11c2.63-3.49 2.27-8.47-.82-11.56zm-10.56 7.87c0-.41.33-.75.75-.75h4.05c.41 0 .75.34.75.75s-.34.75-.75.75h-4.05c-.42 0-.75-.34-.75-.75zm8.6-3.24c0 .42-.34.75-.75.75h-7.1c-.42 0-.75-.33-.75-.75 0-.41.33-.75.75-.75h7.1c.41 0 .75.34.75.75z"></path></g>
                </svg>
            </div>
            <div class="topic-name">Cricket</div>
        </div>
        <div class="tweet-box flex-r">
            <div class="user-pic" (click)="checkProfile()">
                <img src={{profilePic}} alt="Cricket">
            </div>
            <div class="tweet-data">
                <div class="user-info flex-r">
                    <div class="user-data">
                        <div class="flex-r">
                            <div class="user-name" (click)="checkProfile()">{{userName}}</div>
                            <div class="user-id" (click)="checkProfile()">{{userId}}</div>
                            <div class="dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="creation-time" (click)="openDetailPage()">2h</div>
                        </div>
                        <div *ngIf="reply" class="replying-to">
                            Replying to <span class="blue">@cricket</span>
                        </div>
                    </div>
                    <div #pinned class="bars" (click)="showPinnedBox()">
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle"></i>
                        <div *ngIf="showPinOption" class="pinned-options" (click)="hidePinnedBox()">
                            <div class="delete option">
                                <i class="fa fa-trash-o"></i>
                                <span class="quote-txt txt">Delete tweet</span>
                            </div>
                            <div class="pinned option">
                                <span class="pin" *ngIf="!pin" (click)="pinTweet()">
                                    <i class="fa fa-thumb-tack"></i>
                                    <span class="retweet-txt txt">Pin to profile</span>
                                </span>
                                <span class="undo-pin" *ngIf="pin" (click)="unpinTweet()">
                                    <i class="fa fa-thumb-tack"></i>
                                    <span class="retweet-txt txt">Unpin from profile</span>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="user-tweet" (click)="openDetailPage()">
                    {{tweet['description']}}
                    <img *ngIf="descriptionImg" src={{descriptionImg}} class="descriptionImg">
                </div>
                <div class="operations flex-r">
                    <div mat-raised-button (click)="openDialog()" class="reply-icon func mr83" [title]="'Reply'">
                        <i class="fa fa-comment-o func-icon"></i>
                        <span class="reply-count count">{{replyCount}}</span>
                    </div>
                    <div #retweet [@valueUpdated]="retweetCount" class="retweet-icon box func mr83"
                     [title]="'Retweet'" (click)="showRetweetBox()" [ngClass]="retweeted ? 'retweeted' : ''">
                        <i class="fa fa-retweet func-icon"></i>
                        <span class="retweet-count count" *ngFor="let retweetCount of [ retweetCount ]">{{ retweetCount }}</span>
                        <div *ngIf="showRetweetOption" class="retweet-options" (click)="hideRetweetBox()">
                            <div class="retweet option">
                                <span class="retweet" *ngIf="!retweeted" 
                                (click)="increaseRetweet()">
                                    <i class="fa fa-retweet"></i>
                                    <span class="retweet-txt txt">Retweet</span>
                                </span>
                                <span class="undo-retweet" *ngIf="retweeted"
                                (click)="decreaseRetweet()">
                                    <i class="fa fa-retweet"></i>
                                    <span class="retweet-txt txt">Undo Retweet</span>
                                </span>
                            </div>
                            <div mat-raised-button (click)="openQuoteDialog()" class="quote option">
                                <i class="fa fa-pencil"></i>
                                <span class="quote-txt txt">Quote Tweet</span>
                            </div>
                        </div>
                    </div>
                    <div class="like-icon func mr83" [ngClass]="liked ? 'liked' : 'disliked'" [title]="'Like'" (click)="increaseLike()">
                        <span class="heart">
                            <i *ngIf="!liked" class="fa fa-heart-o func-icon"></i>
                            <i *ngIf="liked" class="fa fa-heart func-icon"></i>
                            <span *ngIf="liked" class="circle"></span>
                        </span>
                        <span [@valueUpdated]="likeCount" class="box">
                            <span class="like-count count" *ngFor="let likeCount of [ likeCount ]">{{likeCount}}</span>
                        </span>
                    </div>
                    <div #share class="share-icon func" [title]="'Share'">
                        <i class="fa fa-upload func-icon"></i>
                        <div *ngIf="show" class="options" (click)="hideBox()">
                            <div class="dm option">
                                <i class="fa fa-envelope-o"></i>
                                <span class="dm-txt txt">Send via Direct Message</span>
                            </div>
                            <div class="bookmark option">
                                <i class="fa fa-bookmark-o"></i>
                                <span class="bookmark-txt txt">Add Tweet to Bookmarks</span>
                            </div>
                            <div class="copy option">
                                <i class="fa fa-link"></i>
                                <span class="copy-txt txt">Copy link to Tweet</span>
                            </div>
                            <div class="share-tweet option">
                                <i class="fa fa-upload"></i>
                                <span class="share-txt txt">Share Tweet via ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>