.header {
    border-bottom: 1px solid #80808057;
}
img{
    width: 48px;
    cursor: pointer;
    z-index: 0;
}
.create{
    padding: 16px;
    height: 170px;
}
.create,
.buttons{
    display: flex;
    flex-direction: row;
}
.input{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #80808057;
}
.icon {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    padding: 9px;
    fill: currentcolor;
}
.icon:hover{
    background-color: rgba(29,161,242,0.1);
    color: rgba(29,161,242,1.00);
    border-radius: 50%;
}
.create-tweet {
    width: 90%;
}
.profile-pic {
    margin-right: 12px;
}
.tweet-input{
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 18px 0;
}
.reply-option {
    font-size: 13px;
    font-weight: 700;
    border-radius: 20px;
    padding: 4px;
    cursor: pointer;
    width: 30%;
    margin-bottom: 12px;
}
.reply-option:hover{
    background-color: rgba(29,161,242,0.1);
}
.fa-globe {
    font-size: 20px;
    margin-right: 6.5px;
    vertical-align: middle;
}
.buttons{
    padding: 12px 0;
}
.tweet{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgba(29,161,242,1.00);
    padding: 10px 19px;
    border-radius: 40px;
    cursor: default;
}
.tweet.disableBtn{
    background-color: rgba(29,161,242,0.5);
}
.tweet.enableBtn{
    background-color: rgba(29,161,242,1.00);
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}
.tweet.enableBtn:hover {
    background-color: rgba(26,145,218);
}
.icons {
    width: 65%;
}
.fa-circle-o {
    font-size: 25px;
    padding: 6px 11px;
}
.add-tweet {
    width: 22%;
}
.hide{
    display: none;
}
.graph {
    border-right: 1px solid;
    height: 36px;
    margin-right: 12px;
    display: none;
}
.plus{
    cursor: pointer;
    margin-top: 12px;
    display: none;
}
.graph.enableBtn,
.plus.enableBtn{
    display: block;
}
.plus-icon{
    font-size: 26px;
    line-height: 10px;
    padding: 0 10px 5px;
    border: 1px solid;
    border-radius: 50%;
}
.plus-icon:hover{
    background-color: rgba(29,161,242,0.1);
}
::ng-deep .mat-dialog-container{
    width: 600px;
    padding: 0;
    border-radius: 15px;
}
.cross{
    font-size: 22px;
    padding: 10px;
    margin: 4px 10px;
    border-radius: 50%;
    cursor: pointer;
    width:3%;
}
.cross:hover{
    background-color: rgba(29,161,242,0.1);
}